*{
    margin: 0px;
    padding: 0px;
}

.clr{
    clear: both;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
}

.header{
    height: 180px;
    line-height: 65px;
    background-color: deepskyblue;
    text-align: center;
}
.header h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.header h2{
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    color:deepskyblue;
    background-color: #14345C;
    font-weight: bold;
    font-size: 30px;
}

.content{
    height: 700px;
    background-color:rgb(240,240,240);
}
.content .metrics{
    padding: 40px 20%;
}
.content .metrics .good-details-select, .bad-details-select{
    position: relative;
}
.content .metrics .good-details-select p, .bad-details-select p{
    float: left;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}
.content .metrics .good-details-select select, .bad-details-select select{
    font-size: 20px;
}
.content .metrics .good-details-select select:hover, .bad-details-select select:hover{
    cursor: pointer;
    opacity: 0.75;
}

.improvements{
    margin: 20px 20%;
    position: relative;
}
.improvements h3{
    color:#14345C;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}
.improvements .concept{
    list-style:lower-alpha;
    margin-bottom: 20px;
}