<div class="concept">
    <% if(rule_index == 90){ %>
        <p>Không có nguyên tắc</p>
    <%}else if(rule_index.length === 0){ %>
        <p>Chưa tìm ra nguyên tắc</p>
    <% } else {%>
        <% for (let i = 0; i < rule_index.length; i++) { %>
        <div class="rule">
            <h4><%= rule_index[i] %><span>.</span><%= rule_name[i] %>&nbsp;&#91;<%= rule_appears[i] %>&#93;</h4>
            <p class="rule-detail"><%= rule_detail[i] %></p>
        </div>
        <% } %>
    <% } %>
</div>
