<div class="concept">
    <% for (let i = 0; i < rule_name.length; i++) { %>
    <div class="rule">
        <h4><%= rule_name[i] %>&nbsp;<%= ruledensity[i] %></h4>
        <% if (rule_content[i]) rule_content[i].forEach(element => { %>
        <p class="rule_content"><%= element %></p>
        <% }); %>

    </div>
    <% } %>
</div>
