<div class="concept">
    <% for (let i = 0; i < rule_name.length; i++) { %>
    <div class="rule">
        <h3><%= rule_name[i] %></h3>
        <p class="rule-detail"><%= rule_detail[i] %></p>
    </div>
    <% } %>
</div>
